*{
    box-sizing: border-box;
}

    html{
        height: 100%;
    }

    body {
        margin: 0;
        border-left: 30px solid #63D2D4;
        border-right: 30px solid #63D2D4;  
        padding-top: 0px;
        padding-bottom: 0px; 
        padding-left: 10px;
        padding-right: 10px;
        background-color: #F4F5ED;
        min-height: 100%;
    }
    
    h1{
        margin-top: 0px;
        padding-top: 20px;
        font-size: 30px;
        font-family: 'Archivo Black', sans-serif;
        text-align: center;
    }

    .header-accent{
        font-size: 37px;
        color: #E50B2C;
    }
        
    h2{
        font-size: 24px;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        line-height: 150%;
    }

    h3{
        text-align: center;
        margin-bottom: 22px;
        font-size: 24px;
        font-family: 'Roboto', sans-serif;
    }

    p{
        text-align: center;
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
        line-height: 150%;
    }

    .sample-address{
        word-wrap: break-word;
    }

    .sample-image{
        display: block;
        width: 30%;
        margin-left: auto;
        margin-right: auto;
    }

    li{
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
        line-height: 150%;
    }
                
    .stylized-button{
        background-color: #E50B2C;
        color: #ffffff;
        font-size: 24px;
        font-family: 'Roboto', sans-serif;
        border-radius: 15px;
        width: 95%;
        height: 50px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 0px;
    }

    .palette-display-screen .photo-button{
        height: 200px; 
    }

    .stylized-button:active, .stylized-button:hover{
        background: #63D2D4;
        transition-property: background;
        transition-duration: 0.6s;
        transition-timing-function: linear;
    }
    label{
        display: block;
        font-size: 22px;
        font-family: 'Roboto', sans-serif;
        text-align: center;
    }

    input{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        height: 40px;
        margin-top: 20px;
        margin-bottom: 20px;
        border: 5px solid #63D2D4;
        border-radius: 10px;
        padding: 7px;
        color: #E50B2C;
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
    }

    .extraction-container{
        display: flex;
        flex-direction: row;
    }

    .extraction-list{
        width: 50%;
        text-align: center;
        list-style: none;
    }

    .extraction-list li{
        margin-top: 30%;
        margin-bottom: 32%;
    }

    .extracted-color-text{
        font-size: 24px;
        font-family: 'Roboto', sans-serif;
    }

    .extracted-colors-display{
        width:50%;
        margin-left: auto;
        margin-right: auto;
    }

    .extracted-color-tile{
        position: relative;
        width: 60px;
        height: 60px;
        border: 2px solid black;
        margin-left: 10px;
        margin-bottom: 30%;
        margin-top: 30%;
    }

    .extracted-color-tile span{
        position: absolute;
        top: -24px;
        font-size: 14px;
        background-color: #E50B2C;
        color: white;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
        width: 115px;
    }

    .extracted-color-tile:active, .extracted-color-tile:hover{
        width: 90px;
        height: 90px;
        transition-duration: 0.35s;
        transition-timing-function: linear;
    }

    .provide-extraction-rgb{
        text-align: center;
        font-size: 30px;
        font-family: 'Roboto', sans-serif;
        color: #E50B2C;
    }

    .palette-color-tile{
        position: relative;
        width: 35px;
        height: 35px;
    }

    .palette-color-tile span{
        position: absolute;
        top: -20px;
        left: -35px;
        font-size: 14px;
        background-color: #E50B2C;
        color: white;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
        width: 115px;
    }

    .palette-color-tile:active, .palette-color-tile:hover{
        width: 60px;
        height: 60px;
        transition-duration: 0.5s;
        transition-timing-function: linear;
    }

    .container{
        display: flex;
        flex-direction: column;
    }

    .palette-container{
        display: flex;
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
    }
    
    .palette-display-screen .stylized-button{
        background-color: #E50B2C;
        color: #ffffff;
        font-size: 22px;
        font-family: 'Roboto', sans-serif;
        border-radius: 15px;
        width: 90%;
        height: 50px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 0px;
    }

@media screen and (min-width:600px){

    html{
        height: 100%;
    }

    body {
        border-left: 80px solid #63D2D4;
        border-right: 80px solid #63D2D4;  
        padding-left: 30px;
        padding-right: 30px;
    }

    h1{
        font-size: 44px;
    }

    .header-accent{
        font-size: 55px;
    }

    h2{
        font-size: 32px;
    }

    h3{
        margin-bottom: 3px;
        font-size: 28px;
    }

    p{
        font-size: 26px;
    }

    li{
        font-size: 22px;
    }
        
    .stylized-button{
        font-size: 30px;
        width: 55%;
        height: 50px;
        margin-top: 5px;
    }

    .stylized-button:hover, .stylized-button:active{
        margin-top: 15px;
    }

    label{
        font-size: 28px;
    }

    input{
        width: 55%;
    }

    .extracted-color-text{
        font-size: 28px;
    }

    .extracted-color-tile{
        width: 80px;
        height: 80px;
    }

    .extraction-list li{
        margin-top: 30%;
        margin-bottom: 50%;
    }


    .extracted-color-tile:active, .extracted-color-tile:hover{
        width: 38%;
        height: 38%;
    }

    .provide-extraction-rgb{
        font-size: 36px;
    }

    .palette-color-tile{
        width: 65px;
        height: 65px;
    }

    .palette-color-tile:active, .palette-color-tile:hover{
        width: 120px;
        height: 120px;
    }

    .palette-container{
        display: flex;
        flex-direction: row;
        margin-right: auto;
        margin-left: auto;
    }

    .palette-display-screen .stylized-button{
        font-size: 30px;
        width: 80%;
    }
}

@media screen and (min-width:992px){
    body {
        margin: 0px;
        padding:0px;
    }

    .instructions-screen{
        padding-left: 50px;
        padding-right: 50px;
    }

    h1{
        font-size: 48px;
    }
    
    .header-accent{
        font-size: 60px;
    }

    h2{
        font-size: 30px;
    }

    h3{
        font-size: 32px;
    }

    p{
        font-size: 22px;
    }

    li{
        font-size: 18px;
    }

    .palette-color-tile{
        width: 75px;
        height: 75px;
        margin-bottom: 20px;
    }

    .palette-color-tile span{
        width: 150px;
    }

    .palette-color-tile:hover, .palette-color-tile:active{
        width: 150px;
        height: 150px;
    }

    .container{
        display: flex;
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
    }
    
    .palette-container{
        flex-direction: column;
    }
    
    .palette-group{
        display: flex;
        flex-direction: row;
    }

    .palette-number{
        align-content: center;
    }

    .stylized-button{
        width: 35%;
        margin-top: 10px;
    }

    label{
        font-size: 28px;
    }

    input{
        width: 35%;
        font-size: 18px;
    }

    .provide-extraction-rgb{
        font-size: 30px;
    }

    .extraction-list{
        text-align: right;
        margin-right: 15%;
    }

    .extracted-color-tile{
        width: 110px;
        height: 110px;
        margin-bottom: 3%;
    }

    .extracted-color-text{
        font-size: 28px;
    }
    
    .palette-display-screen .stylized-button{
        width: 50%;
    }
}

