*{
    box-sizing: border-box;
}

h3{
    text-align: center;
    margin-bottom: 3px;
}
.extracted-color-tile{
    width: 150px;
    height: 150px;
    border: 2px solid black;
    margin: 5px;
}

.palette-color-tile{
    width: 75px;
    height: 75px;
    border: 2px solid black;
    margin: 5px;
}

.container{
    display: flex;
    flex-direction: row;
}

.palette-container{
    margin-right: 5px;
}
